# : comments

# ignore object files
obj/
build/**/obj/

# ignore batch files
.bat

# ignore all files in bin/
bin/

# no need to include libararies
lib/

# ignore pdf files
.pdf

# ignore asset files
Assets/

# ignore temporary key files
build/**/*.pfx

# ignore manuals and devlog
devlog/
manuals/
